/* #FBE63F */
/* #0071FF */
/* #0f296f */
/* #1c43af */

.loginButton {
    display: inline;
    margin: auto;
    padding: 5px 10px;
    color: #0f296f;
    font-weight: 900;

    transition: 0.25s;
    border: 2px #bbb solid;
    border-radius: 5px;
}

.loginButton:hover {
    cursor: pointer;
}

.loginButton:hover {
    transition: 0.25s;
    border: 2px #0f296f solid;
    border-radius: 10px;
}

.loginContainer{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 220px;
    text-align: center;
    background-color: #eee;
}